.mobile-only, .mobile-only-flex {
	display: none !important;
}
@media (max-width: 767px) {
	body.front-page {
		background: none;
	}
	.mobile-only {
		display: inherit !important;
	}
	.mobile-only-flex {
		display: flex !important;
	}
	.non-mobile-only {
		display: none !important;
	}
	
	/*.btn.btn-logrange.btn-logrange-primary, .btn.btn-logrange.btn-logrange-primary-alt, .btn.btn-logrange.btn-logrange-outline {
		border-radius: 0.5em;
	}*/
	
	
	.navbar.top-navbar .navbar-toggler {
		position: absolute;
		right: 0;
	}
	.navbar.top-navbar .navbar-brand img {
		margin-top: 2em;
	}
	
	.container.front-page {
		background-position-x: 90%;
		background-size: 670px 780px;
	}

	.container.front-page > .row.front-page {
		height: 640px;
	}	
	
	.front-page-intro-block {
		position: static;
		text-align: center;
		width: 100%;
		padding: 0 15px;
	}
	.front-page-intro-block h1 {
		font-size: 3.2em;
		margin-top: 0.2em;
		margin-bottom: 0;
	}
	.front-page-intro-block h2 {
		font-size: 2em;
	}
	.front-page-intro-block p {
		font-size: 1em;
		padding: 0 3em;
	}
	.front-page-intro-block .button-container {
		display: flex;
		justify-content: center!important;
		margin-top: 1.2em;
	}
	.working-with-streams-container {
		height: 26em;
		margin-bottom: 2em;
	}
	.working-with-streams {
		height: 28em;
		overflow-y: hidden;
	}
	
	.working-with-streams h2, .how-it-works h2, .get-logrange h2 {
		font-size: 2em;
	}
	.working-with-streams h2 {
		margin-top: 2em;
		margin-bottom: 1em;
	}
	
	.working-with-streams img {
		width: 6em;
		padding: 1em;
		display: inline-block;
		margin-bottom: 2em;
	}

	.working-with-streams .slider-data div {
		text-align: center !important;
		padding: 0 !important;
	}
	.how-it-works {
		background-size: 100% 400px;
		background-repeat: no-repeat;		
	}
	.how-it-works h2 {
		margin-top: 1.7em;
		margin-bottom: 0.7em;
	}
	.how-it-works-media .top-block {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	.how-it-works-media .slide-num {
		margin: 0;
		font-size: 1.3em;
	}
	.how-it-works-media p {
		color: black;
		text-align: left;
		font-size: 0.9em;
		line-height: 1.5;
	}
	.how-it-works-media .arrow-bottom {
		width: 40%;
		margin: 1em;
	}
	.get-logrange {
		height: initial;
		background-size: 100% calc(100% - 1px);
		background-repeat: no-repeat;
	}
	.get-logrange h2 {
		font-size: 2.5em;
		margin-top: 1.5em;
		margin-bottom: 0.5em;
	}
	.get-logrange p.get-logrange-intro {
		font-size: 1.1em;
		line-height: 1.8;
	}
	.get-logrange .screen {
		height: initial;
		width: initial;
		border-radius: 0.5em 0.5em 0 0;
		margin-top: 5em;
	}
	.get-logrange .screen .tabs {
		padding: 0;
	}
	.get-logrange .screen .tabs .nav-tabs .nav-item {
		width: 100%;
	}
	.get-logrange .tab-info {
		height: initial;
		width: initial;
		margin-left: 0;
	}
	.tab-pane {
		position: static;
		width: 100%;
	}
	#copy2clipboard {
		cursor: pointer;
		font-size: 1.2em;
		font-weight: 400;
		color: rgba(0,164,249);
		letter-spacing: initial;
		padding: 0.8em;
	}
	.contact-us {
		padding-top: 3em;
		padding-bottom: 2em;
	}
	.contact-us p {
		font-size: 0.9em;
	}
	.contact-us form {
		margin-top: 1.5em;
	}
	.contact-us .btn.btn-logrange.btn-logrange-primary {
		width: 100%;
	}
	
	.footer {
		padding: 2.5em 0;
	}
	.footer ul.navbar-nav {
		margin-top: 1.5em;
		margin-left: 0;
	}
	.carousel-control-next, .carousel-control-prev {
		top: 100px;
		bottom: initial;
	}
	.carousel-control-prev-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230097E6' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
	}

	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230097E6' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
	}
	.carousel-item {
		padding: 0px 4em;
	}
	ol.carousel-indicators {
		top: 250px;
		bottom: initial;
	}
	ol.carousel-indicators li {
		width: 9px;
		height: 2px;
		background-color: #D8D8D8;
	}
	ol.carousel-indicators li.active {
		background-color: #00C8FF;
	}
	.markdown-body {
		padding-left: 1.5em;
	}
}